.menu{
    /* background-color: aquamarine; */
}

.menu-list{
    /* background-color: blue; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
}

.menu-item{
    /* background-color: lawngreen; */
    display: inline-block;
    white-space: nowrap;
    font-size: 2vw;
}

.menu-item a {
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px ;
    padding-right: 10px ;
    text-decoration: none;
}

.menu-item a:hover {
    background-color: #4CAF50;
}