nav{
    width: 100%;
}

.toggle{
    margin-top: 2%;
    width: 100%;
    text-align: right;
    display: none;
}

.menu-list{
    background-color: rgb(32, 32, 32);
    width: 100%;
    position: fixed;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 5%;
    overflow: hidden;
    text-align: right;
    box-sizing: border-box;
}

.menu-item{
    /* background-color: rgb(32, 32, 32); */
    display: inline-block;
    white-space: nowrap;
    font-size: 2vw;
}

.menu-item a:hover {
    background-color: #4CAF50;
    width: fit-content;
    border-radius: 10%;
}

.menu-item a {
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px ;
    padding-right: 10px ;
    text-decoration: none;
}

@media screen and (max-width: 1200px){
    
    .toggle{
        display: block;
        box-sizing: border-box;
        margin-right: 5%; 
        padding-right: 5%;  
    }
    .menu-list{
        width: 100%;
        position: relative;
        display: none;
    }
    
    .menu-item{
        display: block;
        text-align: center;
        padding: 2%;
        font-size: 5vw;
    }

    .menu-item a{
        display: inline-block;
    }
    .menu-item a:hover{
        transition: none;
    }
    .active{
        display: inline;
        left: 0;
    }
}