body{
    background-color: rgb(32, 32, 32);
    margin: 2%;
    margin-top: 0%;
    color: white;
}

a{
    text-decoration: none;
}

#sidebar{
}

#sidebar a{
    padding: 1%;
}

.navbar{
    display: none;
}

.navbar-list{
    display: none;
}

.container{
    margin-left: 22%;
    margin-top: 15%;
}

#name{
    font-size: 600%;
}

.about p{
    margin-top: 5%;
    font-size: 125%;
}

.education {
    text-align: left;
}

.education-box{
    margin-top: 3%;
}

.subhead h1{
    font-size: 300%;
    color: rgb(181, 228, 171);
}

.degree{
    font-size: 150%;
}

.date{
    text-align: right;
    color: lightgray;
}

.branch, .institute{
    color: lightgray;
}

.experience-box{
    margin-top: 3%;
}

.experience-box:hover{
    -webkit-transform: scale(1.03);
}

.post{
    color: lightgray;
}


@media screen and (max-width: 600px){
    body{
        text-align: center;
    }

    .w3-sidebar{
        display: none;
    }
    
    .navbar{
        display: block;
        text-align: right;
    }

    .container{
        margin-left: 0%;
        margin-top: 0%;
    }

}