body{
    background-color: rgb(32, 32, 32);
    margin: 2%;
    margin-top: 0%;
    vertical-align: middle;
    color: white;
}

#sidebar a{
    padding: 1%;
}

.navbar{
    display: none;
}

.navbar-list{
    display: none;
}

.container{
    margin-left: 25%;
    margin-top: 15%;
}

#name{
    font-size: 600%;
}

.about p{
    margin-top: 5%;
    font-size: 125%;
}

.education {
    text-align: left;
}

.education-box{
    margin-top: 2%;
}

.subhead h1{
    font-size: 300%;
    color: rgb(181, 228, 171);
}

.degree{
    font-size: 150%;
}

.year{
    text-align: right;
}

.branch, .institute{
    color: gray;
}


@media screen and (max-width: 600px){
    body{
        text-align: center;
    }

    .w3-sidebar{
        display: none;
    }
    
    .navbar{
        display: block;
        text-align: right;
    }

    .container{
        margin-left: 0%;
        margin-top: 0%;
    }

}