main{
    /* background-color: brown;  */
    color: white;
    display:flex ;
    flex-flow: row wrap;
}

.jain{
    color: yellow;
}

.profileImage{
    /* background-color: violet; */
    width: 30%;
    height: auto;
    padding: 2%;
}

#profileImage{
    width: 100%;
    height: auto;
    border: 2px solid;
    border-radius: 50%;
    border-color: black;
}

.details{
    /* background-color: wheat; */
    width: fit-content;
    height: auto;
    padding: 3%;
}

.icons a:hover{
    color: yellow;
}

@media screen and (max-width:600px){
    main{
        flex-direction: column;
        text-align: center;
    }
    h1{
        font-size: 15vw;
    }
    h3{
        font-size: 5vw;
    }

    .profileImage{
        width: fit-content;
        height: auto
    }
}