body{
    background-color: rgb(32, 32, 32);
    margin: 2%;
    margin-top: 0%;
    vertical-align: middle;
    text-align: center;
    color: white;
}

.loader-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(32, 32, 32);
}

.loader {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #37ff52; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }

  .loader-inner{
      vertical-align: top;
      display: inline-block;
      width: 100%;
      background-color: white;
      animation: spin 1.5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

button{
    outline: none;
}
.scrollTop{
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.scrollTop:hover{
    box-shadow: 0 0 50px rgba(255, 255, 255, 1);
}

.scrollTop.activeTop{
    visibility: visible;
    opacity: 1;
}

main{
    padding-top: 5%;
}

h1{
    font-size: 6vw;
    margin-block-start: 2%;
    margin-block-end: 0%;
}

h2{
    font-size: 4vw;
    margin-block-start: 10%;
    margin-block-end: 2%;
}

h3{
    font-size: 2vw;
    font-weight: 200;
    margin-block-start: 0%;
    margin-block-end: 1%;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    box-sizing: border-box;
}

p{
    padding: 0;
    margin: 1%;
}

a{
    color: rgb(255, 255, 255);
    /* margin: 2%; */
    text-decoration: none;
    text-align: center;
}

a:hover{
    transition: all .5s ease-in-out;
}

/* #active{
    background-color: rgb(44, 43, 43);
} */

.heading{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 5%;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #a1ffad;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #83cf8e;
}

::-webkit-scrollbar-thumb:active {
    background: #5fb36c;
}

@media screen and (max-width: 1200px){

    html, body{
        margin: 0%;
        width: 100%;
        overflow-x: hidden;
    }
    
    h1{
        font-size: 6rem;
    }
    h2{
        font-size: 3.3rem;
        margin-block-start: 5%;
    }
    h3{
        font-size: 1.5rem;
    }
    .heading{
        font-size: 2rem;
    }
}
