body{
    background-color: rgb(32, 32, 32);
    margin: 2%;
    vertical-align: middle;
    text-align: center;
    color: white;
}

h1{
    font-size: 6vw;
    margin-block-start: 2%;
    margin-block-end: 0%;
}

h2{
    font-size: 4vw;
    margin-block-start: 10%;
    margin-block-end: 2%;
}

h3{
    font-size: 2vw;
    font-weight: 200;
    margin-block-start: 0%;
    margin-block-end: 1%;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

p{
    padding: 0;
    margin: 1%;
}

a{
    color: rgb(255, 255, 255);
    margin: 2%;
    text-decoration: none;
    text-align: center;
}

a:hover{
    transition: all .5s ease-in-out;
}

/* #active{
    background-color: rgb(44, 43, 43);
} */